.footer__column-link {
  text-decoration: none;
  color:#f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: .5s ease;

}

.footer__column-link:hover {
  opacity: .4;
}
