@import url(../video/__iframe/video__iframe.css);
@import url(../video/__iframes/video__iframes.css);

.video {
  padding-top: 100px;
  flex-direction: column;
  display: flex;
  align-items: center;

}
