.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:#f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
  }

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin: 0 0 0 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  top: 64px;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

/* и элемента с модификатором вида ключ-значение */



.description {
  margin-bottom: 100px;
}

.two-columns {
  min-width: 784px;
  display:flex;
  justify-content: space-between;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  width: 175px;
  color: #2F80ED;
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size:24px;
  line-height:34px;
  margin-bottom:30px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
  font-size:24px;
  line-height: 34px;
}


.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 100px;
}

.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  text-align: center;
  width: 60%;
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.table__cell {
  padding: 0px;
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}


.feynman {
  background-color:#f2f2f2;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 890px;
  align-items: center;
}

.feynman__background {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.feynman__title {
  z-index: 1;
  text-align: center;
  margin: 100px 0 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  z-index: 1;
  margin: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}


.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  background-size: contain;
  overflow: hidden;
  z-index: 1;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.section-title_theme_dark {
  color:#f2f2f2;
}

.section-subtitle_theme_dark {
  margin-top: 20px;
  color: #f2f2f2;
}

.table__cell_theme_dark {
  color: white;
  width: 200px;
  margin: 80px 0 0 0;
}

.footer {
  box-sizing: border-box;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  color:#f2f2f2;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content-copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  text-decoration: none;
  color:#f2f2f2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links {
  padding-left: 0;
  list-style-type:none;
  margin: 0 0 16px;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
